* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Poppins', sans-serif;
}

:root {
  --text-color: #555;
  --text-color-2: #8a8a8a;
  --highlight-color: #ff523b;
  --dark-highlight-color: #563434;
  --bg-color: #1c8b6e;
  --bg1-color: rgba(22, 147, 91, 0.9);
}

.navbar {
  display: flex;
  align-items: center;
  padding: 20px;
}

nav {
  flex: 1;
  text-align: right;
}

nav ul {
  display: inline-block;
  list-style-type: none;
}

nav ul li {
  display: inline-block;
  margin-right: 20px;
}

a {
  text-decoration: none;
  color: #3a1a1a;
  font-weight: 500;
  font-size: 20px;
}
a:hover {
  color: #16935b;
}
a:active{
  color: #0e6b4a;
}

p {
  color: var(--text-color);
}

.container {
  max-width: 1300px;
  margin: auto;
  padding-left: 25px;
  padding-right: 25px;
}
.container2 {
  display: flex;
}
.image {
  width: 50%;
}
img {
  width: 80%;
}
.text {
  width: 50%;
}
/* Mobile */
@media(max-width: 500px) {
  .container2 {
    display: block;
  }
  .image {
    width: 100%;
  }
  .text  {
    width: 100%;
}
.text  p  {
  padding: 10px;
}
}